body,
button,
input,
select,
textarea {
	color: $color__text-main;
	font-family: $font__main;
	@include font-size(1);
	line-height: $font__line-height-body;
}

@import 'https://fonts.googleapis.com/css?family=Raleway';

@import "headings";

@import "copy";

.lead {
    font-size: 1.5em;
    font-weight: 500;
    line-height: 1.5;
	margin: 0px;
	padding: 100px 0;
	text-align: center;
}

.bg-primary {
	background-color: $color__primary;
	color: white;
}

.bg-success {
	background-color: $color__success;
	color: black;
}

.bg-info {
	background-color: $color__info;
	color: black;
}